.OpenDoor-FrameDoor {

    box-sizing: border-box;
    position: absolute;    
    top: 250px;
    left: 250px;
    width: 236px;
    height: 379.03px;
    background: #00F0FF;
    border: 4px solid #000000;
    box-shadow: inset 17px 17px 4px rgba(0, 0, 0, 0.25);

}

.OpenDoor-TheDark {

    position: absolute;    
    top: 270px;
    left: 260px;
    width: 214.55px;
    height: 357.58px;
    background: #000000;

}

.OpenDoor-DoorPlane {

    box-sizing: border-box;
    position: absolute;    
    top: 270px;
    left: 376px;    
    width: 100px;
    height: 359px;
    background: #00F0FF;
    border: 4px solid #000000;
    box-shadow: inset 10px 20px 4px rgba(0, 0, 0, 0.25);

}